<h1 class="mt-5 mb-5">Pantalla detalle de libro</h1>

@if (book) {
<p>{{book.id}} {{book.isbn}}</p>

<button class="btn btn-success" [routerLink]="['/books', book.id, 'update']">Editar libro</button>
}


<div class="container py-5" >
  <div class="row">
      <div class="col">
          <!-- Listado de últimas valoraciones -->
          <h3 class="mb-2">Listado de valoraciones</h3>

          @if (showSuccessDeletedRating) {
            <ngb-alert type="success" (closed)="showSuccessDeletedRating=false;">
              Rating borrado correctamente.
            </ngb-alert>
          }

          @if (showErrorDeletedRating) {
            <ngb-alert type="danger" (closed)="showErrorDeletedRating=false;">
              No se ha podido borrar rating.
            </ngb-alert>
          }

          <ul class="list-unstyled">
            @for (rating of ratings; track rating.id) {
              <li>
                <span class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top">
                  <img src="https://placehold.co/100">
                  <div class="col-lg-8">
                    <h6 class="mb-0">

                        <ngb-rating [(rate)]="rating.score" [max]="5" [readonly]="true">
                          <ng-template let-fill="fill" let-index="index">
                            <i class="bi-star{{ fill === 100 ? '-fill' : '' }} fs-3" style="color:#ffc845;"></i>
                          </ng-template>
                        </ngb-rating>

                          @if (rating.user?.id === userId || isAdmin) {

                          <i class="bi bi-x-circle-fill fs-3 ms-3 text-danger" style="cursor:pointer;"
                          (click)="deleteRating(rating)"></i>
                        }

                    </h6>
                    <small class="text-body-secondary">{{rating.comment}}</small>
                  </div>
                </span>
              </li>
            }
          </ul>
      </div>
      <div class="col">
          <!-- Formulario para agregar nuevas valoraciones -->
          <h3>Añade una valoración</h3>

          <form [formGroup]="ratingForm" (ngSubmit)="save()">

            <ngb-rating [max]="5" formControlName="score">
              <ng-template let-fill="fill" let-index="index">
                <i class="bi-star{{ fill === 100 ? '-fill' : '' }} fs-3" style="color:#ffc845;"></i>
              </ng-template>
            </ngb-rating>

            <div class="form-floating mb-3">
              <textarea class="form-control"
                placeholder="Leave a comment here" id="comment" formControlName="comment" style="min-height: 120px;">
              </textarea>
              <label for="comment">Comentario de texto</label>
            </div>

            <button class="w-100 btn btn-success btn-lg mb-5 mt-5" type="submit">Enviar comentario</button>

          </form>
      </div>
  </div>
</div>
