@if(showSpinner) {
  <div class="container text-center mt-5">
    <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

} @else {
<div class="container">
  <div class="row">
    <div class="col">

      <h1 class="mt-5 mb-5">Listado de libros</h1>

      @if (showDeletedBookMessage) {
        <!--<ngb-alert type="success" [dismissible]="false">Libro borrado correctamente</ngb-alert>-->
        <ngb-alert type="success" (closed)="hideDeletedBookMessage()">Libro borrado correctamente.</ngb-alert>
      }

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">ISBN</th>
            <th scope="col">Price (€)</th>
            <th scope="col">Published</th>
            <th scope="col">Release Date</th>
            <th scope="col">Author</th>
            <th scope="col">Editorial</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (book of books; track book.id) {
            <tr>
              <th scope="row">{{book.id}}</th>
              <td>{{book.title}}</td>
              <td>{{book.isbn}}</td>
              <td>{{book.price}}</td>
              <td>
                @if (book.published) {
                  <span class="badge text-bg-success">Sí</span>
                } @else{
                  <span class="badge text-bg-danger">No</span>
                }
              </td>
              <td>{{book.releaseDate | date:'dd/MM/yy'}}</td>
              <td>
                <a class="badge text-bg-secondary text-decoration-none" [routerLink]="['/authors', book.author.id, 'detail']">
                  {{book.author.fullName}}
                </a>
              </td>
              <td>
                <a class="badge text-bg-warning text-decoration-none" [routerLink]="['/editorials', book.editorial.id, 'detail']">
                  {{book.editorial.name}}
                </a>
              </td>
              <td>
                <button class="btn btn-info btn-sm" [routerLink]="['/books', book.id, 'detail']">Ver</button>
                <button class="btn btn-warning ms-2 btn-sm" [routerLink]="['/books', book.id, 'reserve']">Reservar</button>

                @if (isAdmin) {
                  <button class="btn btn-success ms-2 btn-sm" [routerLink]="['/books', book.id, 'update']">Editar</button>
                  <button class="btn btn-danger ms-2 btn-sm"
                    (click)="openModal(modal, book)">
                    Borrar
                  </button>
                }
              </td>
            </tr>
          }

        </tbody>
      </table>

    </div>
  </div>
</div>
}

<ng-template #modal let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Despublicar libro</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cancelar')"></button>
	</div>
	<div class="modal-body">
		<p>
      Esta acción va a despublicar el libro, por lo que ya no será accesible ni se podrá comprar.
      ¿Está de acuerdo?
    </p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-success" (click)="modal.close('Aceptar')">
      <i class="bi bi-check-lg me-2"></i>
      Aceptar
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Cancelar')">
      <i class="bi bi-x-circle me-2"></i>
      Cancelar
    </button>
	</div>
</ng-template>
